.carousel {
    background-color: white;
    /* background-image: url('images/bg-1.jpg');
    background-size: cover; */
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

}

.carousel .item {
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

#item1 {
  background-image: url('images/gallery/20180529_144217.jpg');
  background-size: cover;
}

#item2 {
  background-image: url('images/gallery/20180529_144223.jpg');
  background-size: cover;
}

#item3 {
  background-image: url('images/gallery/20180529_144307.jpg');
  background-size: cover;
}

.carousel .slide-in {
    -moz-transform: translate3d(-90%, 0px, 0px);
    -moz-transition: -moz-transform 0.5s ease-out;
    -ms-transform: translate3d(-90%, 0px, 0px);
    -ms-transition: -ms-transform 0.5s ease-out;
    -o-transform: translate(-90%, 0px, 0px);
    -o-transition: -o-transform 0.5s ease-out;
    -webkit-transform: translate3d(-90%, 0px, 0px);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transform: translate3d(-90%, 0px, 0px);
    transform: translate(-90%, 0px);
    transition: transform 0.5s ease-out;
    z-index: 1;
}

/* .carousel .slide-in:target ~ .slide-in {
    -moz-transform: translate3d(90%, 0px, 0px);
    -ms-transform: translate3d(90%, 0px, 0px);
    -o-transform: translate(90%, 0px, 0px);
    -webkit-transform: translate3d(90%, 0px, 0px);
    transform: translate3d(90%, 0px, 0px);
} */

.carousel .slide-in:target {
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    z-index: 3;

}

.carousel .slide-in:target + .slide-in {
    z-index: 2;
  }

  .carousel .controls {
      bottom: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 5;
  }

  .carousel .controls .btn {
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      background-color: red;
      border-radius: 100%;
      display: inline-block;
      height: 2em;
      margin: 0px 1px 15px;
      opacity: 0.7;
      vertical-align: middle;
      width: 2em;
  }

  .carousel .controls .btn:hover {
      opacity: 0.9;
  }
