body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 900;
}
header {
  align-items: center;
  height: 3em;
}

#logo {
  height: 3em;
}

footer {
  align-items: center;
  height: 3em;
}

#top-section {
  align-items: center;
  border: .1em solid black;
  height: 35em;
}

#middle-section {
  align-items: center;
  background-image: url('images/middle-bg.jpg');
  background-size: cover;
  height: 35em;
}

#form {
  background-color: #262626;
  border: .1em solid white;
  border-right: none;
  color: white;
  height: 33.3%;
  margin-right: 50px;
  opacity: .5;
  padding: 2em;
  position: absolute;
  right: 1em;
  top: 15em;
  width: 33.3%;
  z-index: 4;
}

#tech-spec {
  background-color: #262626;
  border: .1em solid white;
  border-left: none;
  color: white;
  height: 50%;
  margin-left: 50px;
  opacity: .5;
  width: 400px;
  z-index: 9;
}

#bottom-section {
  grid-gap: .5em;
  min-height: 20em;
}

.photo-gallery-pic {
  width: 100%;
}

.photo-gallery-pic:hover {
  transform: scale(1.5);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.nav-link {
  text-align: center;
}

.nav-link:hover {
  border-bottom: .1em solid red;
}

#logo2 {
  grid-area: logo2;
  height: 3em;
}